<h1>New Dose for <%= Cocktail.find(params[:cocktail_id]).name %></h1>


<%= simple_form_for  [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%#= f.association :ingredient, collection: Ingredient.order(:name), prompt: "Select Ingredients" %>
  <%= f.association :ingredient %>

  <%= f.submit "Add Dose to Cocktail", class: "btn btn-primary"%>
<% end %>
